{% extends "app/layout.html" %}

{% block content %}
    <h2>Clubs</h2>
    
    {% for club in clubs %}
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'clubdetails' club.id %}">
                    {{ club.name }}
                </a>
            </div>
            <div class="col-md-3">
                {{ club.club_nickname }}
            </div>
        </div>
    {% endfor %}

<form action="{% url 'clubcreate' %}" method="get">
    <button type="submit">Add Club</button>
</form>

{% endblock %}
