{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Theo Rossides - HIT237 Assignment 1</h2>
    <p class="lead">Welcome to Theo Rossides first Djange and Python multi-page website. 
                    The purpose of this website was to catalogue items on a topic of my own choice. 
                    The topic i chose was Darwin Soccer Clubs. 
                    I chose to catalogue Darwin Soccer Clubs because i have an interest in the sport and i play soccer in Darwin.
    </p>
    <p><a href="http://www.footballnt.com.au/" class="btn btn-primary btn-large">Learn more about Darwin Soccer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>My Name</h2>
        <p>
            My name is Theo Rossides. I have grown up in Darwin and started playing soccer when i was 5 years old.
            I enjoy playing soccer because i keep active and make new friends along the way. I enjoy winning and play to win each game.
        </p>
    </div>
    <div class="col-md-6">
        <h2>My Student Number</h2>
        <p>My student number is S229753 and i study at Charles Darwin University. 
           I started studying in 2014 for a diploma in Newtwork Engineering. 
           In 2016 i decided to transfered and study a Batchelor of Information Technology. 
           I study part time and I will complete my degree at the end of 2019.</p>
    </div>
</div>

{% endblock %}
