{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2>My Name</h2>
        <p>
            My name is Theo Rossides. For Assignment 2 i have chosen to build a Web Application for Darwin Soccer Clubs. 
            This website is a Django Framework with Python code and is built using Visual Studio Community 2017 software.
        </p>
    </div>
    <div class="col-md-6">
        <h2>My Student Number</h2>
        <p>My student number is S229753 and i study at Charles Darwin University. 
           I started studying in 2014 for a diploma in Newtwork Engineering. 
           In 2016 i decided to transfered and study a Batchelor of Information Technology. 
           I study part time and have 6 units left to complete.</p>
    </div>
</div>

<div class="jumbotron">
    <h2>Theo Rossides - HIT237 Assignment 2</h2>
    <p class="lead">Welcome to Theo Rossides first Djange and Python multi-page website. 
                    The purpose of this website was to catalogue items on a topic of my own choice. 
                    The topic i chose was Darwin Soccer Clubs. 
                    I chose to catalogue Darwin Soccer Clubs because i have an interest in the sport and i play soccer in Darwin.
                    For each Club there is a Team. For each Team there are Players. These are the 3 tables in the database. This is a Parent - Child - Grandchild cardinality relationship. 
    </p>
    <p><a href="https://github.com/trossides/TheoWebsiteAssignment" class="btn btn-primary btn-large">GitHub Link for Assignment 2 &raquo;</a></p>
</div>

{% endblock %}
